<form nz-form [nzLayout]="'inline'" [formGroup]="validateForm" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input a valid URL">
      <nz-input-group nzPrefixIcon="link">
        <input formControlName="url" nz-input placeholder="Enter URL..." />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <button nz-button nzType="primary" [disabled]="!validateForm.valid">
        Start scan
        <i nz-icon nzType="caret-right" nzTheme="outline"></i>
      </button>
    </nz-form-control>
  </nz-form-item>
</form>
