<nz-layout class="layout">
  <nz-header>
    <div routerLink="/" class="logo" style="cursor: pointer">
      <i nz-icon nzType="global" nzTheme="outline"></i>
      <span>WebAppSafe</span>
    </div>
    <ul nz-menu nzTheme="light" nzMode="horizontal">
      <li nz-menu-item>nav 1</li>
      <li *ngIf="authService.isAuthenticated" [routerLink]="['/profile']" nz-menu-item>Profile</li>
      <li *ngIf="authService.isAuthenticated()" (click)="logout()" nz-menu-item>Logout</li>
      <li *ngIf="!authService.isAuthenticated()" [routerLink]="['/login']" nz-menu-item>Login</li>
    </ul>
  </nz-header>
  <nz-content>
    <nz-breadcrumb>
      <nz-breadcrumb-item>Home</nz-breadcrumb-item>
      <nz-breadcrumb-item>Scan</nz-breadcrumb-item>
    </nz-breadcrumb>
    <div class="inner-content">
      <router-outlet></router-outlet>
    </div>
  </nz-content>
  <nz-footer>WebAppSafe © 2022 - Web application security</nz-footer>
</nz-layout>

